<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
</head>
<body>
<h1>Register Form</h1>
<form action="/home/processregister" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <label for="wallet">Wallet Amount:</label>
    <input type="number" id="wallet" name="wallet_amt" required><br><br>

    <input type="submit" value="Register">
</form>
</body>
</html>